[Desktop Entry]
Version=1.0
Name=Gmail
Exec=/home/willyfresh/Projects/delorean/scripts/launch-webapp.sh https://mail.google.com/
Terminal=false
Type=Application
Icon=mail-client
StartupNotify=true
StartupWMClass=chrome-mail.google.com-Default
