[Desktop Entry]
Version=1.0
Name=Google Maps
Exec=/home/willyfresh/Projects/delorean/scripts/launch-webapp.sh https://maps.google.com/
Terminal=false
Type=Application
Icon=google-maps
StartupNotify=true
StartupWMClass=chrome-maps.google.com-Delorean
